:root {
  --white: #fff;
  --black: #000;
  --transparent: #ffffff00;
  --primary-orange: #f78c00;
  --dark-black: #1a1a1a;
  --shadow-grey: #2e2e2e;
  --accent-red: #d62828;
  --light-white: #f9f9f9;
  --chakra-blue: #0077b6;
  --text-grey: #bfbfbf;
  --highlight-yellow: #fddb3a;
}
